<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>  
    <!-- <ion-list class="cardd" (press)="onHold($event)" dragula="bag" [(dragulaModel)]="siteList"> --> 4
       <ion-list class="cardd">    
        <ion-reorder-group #reorderRef id="reorder" [disabled]="disableScroll" (ionItemReorder)="reorderItems($event)">

          <div *ngFor="let site of siteList">        
      <ion-reorder>          
        <!-- <div cdkDropList [cdkDropListAutoScrollDisabled]="isAutoScrollEnable" cdkDropListLockAxis="y"      (cdkDropListDropped)="drop($event)"> -->        
            <!-- <ion-item *ngFor="let site of siteList" [cdkDragStartDelay]="300" cdkDrag class="card" lines="none"        (click)="getSiteDetails(site)" routerDirection="forward"> -->   
                   <!-- <div > -->          <!-- <ion-reorder> -->          <!-- <ion-item routerDirection="forward" *ngFor="let site of siteList" class="card demo-one" lines="none"        (click)="getSiteDetails(site)"> -->      
                  <ion-item routerDirection="forward" (press)="onHold($event)" class="card demo-one" lines="none"    (tap)="getSiteDetails(site)">          
                      {{site.name}}
                 <!-- <ion-reorder slot="end"></ion-reorder> -->          </ion-item> 
                     </ion-reorder>        <!-- </ion-reorder> -->     
             </div>    </ion-reorder-group>
            </ion-list>  
          </ion-content>